.titulo2 {
  background-color: rgba(0, 0, 0, 0.192);
  color: white;
  margin-bottom: 20px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal__dialog1 {
  background: #fe4c50;
  padding: 10px;
  width: 700px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
}

.titulo2-open {
  display: grid;
}

.modaltitulo2 {
  margin-top: 10px;
}

.botonCerrar {
  position: relative;
  left: 355px;
  top: -60px;
  color: #b5aec4;
  padding: 8px;
  border-radius: 50%;
  border: none;
}

.botonCerrar:hover {
  background-color: black;
  color: white;
}
